* {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}

:root {
    --color-second: #222222;
    --color-third: #3f3f3f;
    --color-yellow: #f6f6bc;
    --color-yellow-2: #f3de54;
    --color-comment: #6A9955;
    --color-selection: #3578bb;
    --color-blue: #7cc1ef;
    --color-string: #e69f83;
    --color-keywords: #ff98e5;
    --color-sea: #67cccc;
    --color-almostwhite: #e1e9e8;
}

body {
    background-color: #141414;
    font-size: 0.95rem;
}

.mm-display {
    height: 100vh;
}

.mm-display-second {
    height: 70vh;
}

.mm-nav {
    background-color: var(--color-second);
}

.mm-nav-text {
    font-size: 0.95rem;
}

.mm-button {
    font-family: 'Roboto Mono', monospace;
    border-color: var(--color-third);
}

.mm-button:hover {
    background-color: var(--color-second);
    border: none;
}

.mm-instructions{
    border: solid var(--color-third) 0.05rem;
    border-radius: 0.5rem;
}

.mm-myPic {
    height: 15rem;
    width: 15rem;
}

.supertitle {
    font-size: 5rem;
}

.mm-alert {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.mm-hidden {
    display: none;
}

.title-alert {
    font-size: 1.3rem;
}

.bton-alert {
    font-size: 0.8rem;
    letter-spacing: 0;
}

.inst-list {
    border-color: var(--color-third);

}

input[type="color"] {
    height: 2rem;
    width: 2rem;
}

.circleColor, .circleColorEasy, .circleColorMedium, .circleColorDif {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: solid var(--color-third) 0.05rem; 
}

.numberVsc {
    color:#6c6c6c;

}

.mastermindHead{
    cursor: pointer;
}

/* clases para los colores de la tipo */

.yellow {
    color: var(--color-yellow-2);
}

.yellowtext {
    color: var(--color-yellow);
}

.comment {
    color: var(--color-comment);
}

.keywords {
    color: var(--color-keywords);
}

.blue {
    color: var(--color-blue);
}

.string {
    color: var(--color-string);
}

.sea {
    color: var(--color-sea);
}

.almostWhite {
    color: var(--color-almostwhite);
}



/* gameboard */

.circleGrid {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: solid var(--color-third) 0.05rem; 
}

.grid-circles {
    height: 4rem;
    width: 4rem;
}

.blueSelection {
    color: var(--color-selection);
}
