*{
    font-family:'Roboto Mono', monospace;
    color: rgb(244, 244, 244);
    font-size: 0.95rem;
    margin: 0;
    padding: 0;
}

:root {
    --color-second: #222222;
    --color-yellow: #DCDCAA;
    --color-yellow-2: #FFFF00;
}

body{
    background-color: #141414;
    height: 100vh;
}

.mm-nav {
    background-color: var(--color-second);
}

.mm-nav-text {
    font-size: 0.95rem;
}

.mm-button {
    font-family:'Roboto Mono', monospace;
}

.inst-list {
    color: var(--color-second);
} 



/* clases para los colores de la tipo */
.yellow {
    color: var(--color-yellow-2);
}

.yellowtext {
    color: var(--color-yellow);
}