* {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}

:root {
    --color-second: #222222;
    --color-third: #3f3f3f;
    --color-yellow: #DCDCAA;
    --color-yellow-2: #f3de54;
    --color-comment: #6A9955;
    --color-seleccion: #264F78;
    --color-blue: #55b8fa;
    --color-string: #CE9178;
    --color-keywords: #ff8af5;
    --color-sea: #4EC9B0;
}

body {
    background-color: #141414;
    font-size: 0.95rem;
}

.mm-display {
    height: 100vh;
}

.mm-nav {
    background-color: var(--color-second);
}

.mm-nav-text {
    font-size: 0.95rem;
}

.mm-button {
    font-family: 'Roboto Mono', monospace;
    border-color: var(--color-second);
}

.mm-button:hover {
    background-color: var(--color-second);
    border: none;
}

.supertitle {
    font-size: 5rem;
}


.inst-list {
    color: var(--color-second);
}

/* clases para los colores de la tipo */
.yellow {
    color: var(--color-yellow-2);
}

.yellowtext {
    color: var(--color-yellow);
}

.comment {
    color: var(--color-comment);
}

.keywords {
    color: var(--color-keywords);
}

.blue {
    color: var(--color-blue);
}

.string {
    color: var(--color-string);
}

.sea {
    color: var(--color-sea)
}