* {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}

:root {
    --color-second: #222222;
    --color-third: #3f3f3f;
    --color-yellow: #f6f6bc;
    --color-yellow-2: #f3de54;
    --color-comment: #6A9955;
    --color-selection: #3578bb;
    --color-blue: #7cc1ef;
    --color-string: #e69f83;
    --color-keywords: #ff98e5;
    --color-sea: #67cccc;
    --color-almostwhite: #e1e9e8;
    --color-pathGit: #eaff00;
    --color-userGit: #11b97b;
    --color-osGit: #ef73ff;
    --color-break: #b163db;
    --color-branchGit: #00a4da;
}

body {
    background-color: #141414;
    font-size: 1rem;
    user-select: none;
    height: 90vh;
}

.mm-mainBody {
    height: 100vh;
    display: flex;
    align-items: center;
}

.mm-playerBody {
    height: 75vh;
    display: flex;
    align-items: center;
}

.secondBody {
    height: 100vh;
    display: flex;
    align-items: end;
    margin: 0;
    padding: 0;
}

.mm-thirdBody {
    height: 35vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.rowLevel {
    height: 70vh;
}

.pageColorPicker {
    height: 75vh;
}


.mm-nav {
    background-color: var(--color-second);
}

.mm-nav-text {
    font-size: 0.95rem;
}

.mm-button {
    font-family: 'Roboto Mono', monospace;
    border-color: var(--color-third);
}

.mm-button:hover,
.keypad:hover {
    background-color: var(--color-second);
    border: 1px solid transparent;
}

.mm-instructions {
    border: solid var(--color-third) 0.05rem;
    border-radius: 0.5rem;
}

.mm-myPic {
    height: 15rem;
    width: 15rem;
}

.supertitle {
    font-size: 5rem;
}


.mm-alert {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.title-alert {
    font-size: 1.3rem;
}

.bton-alert {
    font-size: 0.8rem;
    letter-spacing: 0;
}

.inst-list {
    border-color: var(--color-third);

}

input[type="color"] {
    height: 2rem;
    width: 2rem;
}

.circleColorEasy,
.circleColorMedium,
.circleColorDif {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: solid var(--color-third) 0.1rem;
}

.numberVsc {
    color: #6c6c6c;
}

.mastermindHead {
    cursor: pointer;
}

/* clases para los colores de la tipo */

.yellow {
    color: var(--color-yellow-2);
}

.yellowtext {
    color: var(--color-yellow);
}

.comment {
    color: var(--color-comment);
}

.keywords {
    color: var(--color-keywords);
}

.blue {
    color: var(--color-blue);
}

.string {
    color: var(--color-string);
}

.sea {
    color: var(--color-sea);
}

.almostWhite {
    color: var(--color-almostwhite);
}

.pathGit {
    color: var(--color-pathGit);
}

.userGit {
    color: var(--color-userGit)
}

.osGit {
    color: var(--color-osGit);
}

.branchGit {
    color: var(--color-branchGit);
}

.break {
    color: var(--color-break);
}


/* gameboard */

.blueSelection {
    color: var(--color-selection);
}

.circleColorBoard {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: solid var(--color-third) 0.1rem;
    background-color: rgb(26, 26, 26);
    margin: 0.3rem;
    padding: 0.3rem;
}

.circleGrid {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: solid rgb(82, 82, 82) 0.08rem;
    background-color: rgb(79, 79, 79);
    justify-content: center;
    align-items: center;
}

.grid {
    margin: 0.3rem;
    padding: 0;
    height: 3rem;
    width: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.mm-hidden {
    display: none;
}

.checkButton {
    height: 3rem;
    width: 3rem;
}

.enterButton {
    height: 3rem;
    width: 8rem;
}

.keypad {
    border-radius: 0.5rem;
    border: solid var(--color-third) 0.1rem;
    background-color: rgb(29, 29, 29);
    margin: 0.3rem;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#insightCombo {
    border: solid rgb(94, 94, 94) 0.1rem;
    border-radius: 0.5rem;
    background-color: rgb(54, 54, 54);
    margin-bottom: 1.5rem;
}

#gitConsole {
    height: 25rem;
    display: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    transform: translate(0rem, -12rem);
    border-top: solid rgb(120, 120, 120) 0.05rem;
}

/* media */

@media (max-width:1000px) {
    .supertitle {
        font-size: 4em;
    }
}

@media (max-width:770px) {
    .supertitle {
        font-size: 3em;
    }
}

@media (max-width:480px) {
    .supertitle {
        font-size: 2em;
    }

    .circleColorBoard {
        height: 2.3rem;
        width: 2.3rem;
        border-radius: 50%;
        border: solid var(--color-third) 0.1rem;
        background-color: rgb(26, 26, 26);
        margin: 0.15rem;
        padding: 0.15rem;
    }
    
    .circleGrid {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        border: solid rgb(82, 82, 82) 0.08rem;
        background-color: rgb(79, 79, 79);
        justify-content: center;
        align-items: center;
    }
    .grid {
        margin: 0.15rem;
        padding: 0;
        height: 2.3rem;
        width: 2.3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}

